<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Paladin App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app="paladinApp" ng-controller="AppController">

        <!-- LEFT SWITCHBAR -->

        <section id="switchbar">
            <figure class="brand-logo"></figure>

            <nav class="navigation" ng-controller="NavController">
                
                <div class="nav-button icon-{{item}}" ng-repeat="item in menuItems" ng-click="changeUserbarAppName(item); loadHTML(item)">
                    <p class="nav-button-name">{{item}}</p>
                </div>

            </nav>
        </section>    

        <!-- MAIN SECTIION -->

        <section id="main">

            <header class="userbar">

                <div id="app-name">locator</div>
                <div class="separate"></div>          
                <div id="user-menu">Admin</div>
                <div class="separate"></div>
                
                <div id="user-info">
                    <figure class="new" id="notifications"></figure>
                    <figure id="avatar"></figure>
                </div>

            </header>

            <section id="content">

            </section>

        </section>

    </body>
</html>